html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  color: #FFF;
  font-size: 20px;
  line-height: 10pt;
}

canvas {
  display: block;
}
